@model IEnumerable<Coursework.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4">
    <div class="col-md-6"><h2>Loan</h2></div>
    <div class="col-md-6 text-end"><a type="button" asp-controller="Loan" asp-action="Create" class="btn btn-outline-light btn btn-lig">Create Loan <i class="bi bi-plus-circle"></i></a></div>
</div>

<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DvdCopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanType.LoanDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DvdCopy.CopyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberAddress)
            </td>
            <td>
                <a class="btn btn-info text-decoration-underline" asp-action="Edit" asp-route-id="@item.LoanNumber">Edit &rarr;</a> 
                <a class= "btn btn-danger text-decoration-underline" asp-action="Delete" asp-route-id="@item.LoanNumber">Delete &rarr;</a>
            </td>
        </tr>
}
    </tbody>
</table>
