@model IEnumerable<Member>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<div class="row mt-4">
    <div class="col-md-6"><h2>All Member</h2></div>
    <div class="col-md-6 text-end"><a type="button" asp-controller="Member" asp-action="Create" class="btn btn-outline-light btn btn-lig">Create Actor <i class="bi bi-plus-circle"></i></a></div>
</div>

<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
    <tr>
        <th>
            Member First Name
        </th>
        <th>
            Member Last Name
        </th>
        <th>
            Member Address
        </th>
        <th>
            Member Date of Birth
        </th>
        <th>
            Membership Description
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategoryNumber)
            </td>
            <td>
                <a class="btn btn-info text-decoration-underline mx-3" asp-action="Edit" asp-route-id="@item.MemberNumber">Edit &rarr;</a> 
                <a class="btn btn-danger text-decoration-underline" asp-action="Delete" asp-route-id="@item.MemberNumber">Delete &rarr;</a>
            </td>
        </tr>
    }
    </tbody>
</table>