@model System.Collections.Generic.IEnumerable<Coursework.Models.DVDTitle>

@{
    ViewBag.Title = "All DVDs";
    Layout = "_Layout";
}

<h2>All DVD</h2>
<table class="table table-bordered table-striped w-100">
    <thead>
    <tr>
        <th>Dvd Title</th>
        <th>Date Released</th>
        <th>Category</th>
        <th>Producer</th>
        <th>Action</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TitleName</td>
            <td>@item.DateReleased</td>
            <td>@item.CategoryNumber</td>
            <td>@item.ProducerNumber</td>
            @* <td role="group" class="text-center"> *@
            @*     <a class="btn btn-warning mx-3" asp-controller="Actor" asp-action="Edit" asp-route-id="@item.ActorNumber"><i class="bi bi-pencil-square fs-3"></i></a> *@
            @*     <a class="btn btn-danger" asp-controller="Actor" asp-action="Delete" asp-route-id="@item.ActorNumber"><i class="bi bi-trash fs-3"></i></a> *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>