@model IEnumerable<Coursework.Models.MembershipCategory>

@{
    ViewData["Title"] = "Index";
}
<div class="row mt-4">
    <div class="col-md-6"><h2>Index</h2></div>
    <div class="col-md-6 text-end"><a type="button" asp-controller="MembershipCategory" asp-action="Create" class="btn btn-outline-light btn btn-lig">Create Actor <i class="bi bi-plus-circle"></i></a></div>
</div>

<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipCategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipCategoryTotalLoans)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategoryTotalLoans)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info text-decoration-underline mx-3"  asp-route-id="@item.MembershipCategoryNumber">Edit &rarr;</a> 
                <a asp-action="Delete"  class="btn btn-danger text-decoration-underline" asp-route-id="@item.MembershipCategoryNumber">Delete &rarr;</a>
            </td>
        </tr>
}
    </tbody>
</table>
